@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  color: var(--primary-soft-blue);

  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  --neutral-main-bkg: hsl(217, 54%, 11%);
  --neutral-card-bkg: hsl(216, 50%, 16%);
  --neutral-line: hsl(215, 32%, 27%);
  --neutral-white: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.wrapper {
    width: 100%;
    height: 100%;
    background: var(--neutral-main-bkg);
}

.page-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.card-container {
    width: 350px;
    border-radius: 20px;
    padding: 25px;
    background: var(--neutral-card-bkg);
}

.nft-image {
    width: 100%;
    border-radius: 20px;
}

.nft-header {
    color: var(--neutral-white);
    font-size: 1.3333rem;
    padding: 20px 0;
}

.nft-details {
    display: flex;
    justify-content: space-between;
}

.nft-description {
    width: 90%;
    padding-bottom: 20px;
}

.icon-ethereum,
.time-left-icon {
    margin-right: 10px;
}

.nft-cost-container {
    color: var(--primary-cyan);
    padding-bottom: 20px;
}

.nft-cost {
    vertical-align: top;
    color: var(--primary-cyan);
}

.time-left-text {
    vertical-align: top;
}

.author-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid var(--neutral-line);
    padding-top: 20px;
}

.author-avatar {
    width: 12%;
    border: 3px solid var(--neutral-white);
    border-radius: 100%;
    margin-right: 20px;
}

.author-name {
    color: var(--neutral-white);
}
